vgiik.suo
*.user
packages
T034.Db/obj
T034.Db/bin
T034/obj
T034/bin
T034/Logs
T034.suo
Deploy
publish
T034/Upload
T034/files
.vs/config/applicationhost.config
.vs/T034/v14/.suo
Visual Studio 2015/
tools
T034.IntegrationTests/obj
T034.IntegrationTests/bin