@model IEnumerable<Db.Dto.Common.IdNameDto<int>>

<select class="form-control" id="AgricultureId" name="AgricultureId" disabled>
    <option value="null">Не выбрано</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>