@model OAuth2.Models.UserInfo

@if (Model != null)
{
    @Model.FirstName 
    @Html.ActionLink("Выйти", "Logout", "Auth")
}
else
{
    <a href="@Url.Action("RedirectToYandex", "Auth")"><img src="/Content/images/yandex_icon.png" height="25px" width="25px" alt="Войти при помощи Яндекса"/> </a>
}
@using (Html.BeginForm("RedirectToYandex", "Auth"))
{
    @Html.Hidden("token")
}