<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="${basedir}/Logs/${date:format=yyyy-MM-dd}" />
  <targets>
    <target name="infoLog" 
			xsi:type="File" 
			fileName="${logDir}/info.log" />
    <target name="traceLog" 
			xsi:type="File" 
			fileName="${logDir}/trace.log" 
			layout ="${longdate}|${level:uppercase=true}|${callsite}|${message}"/>
    <target name="warnLog" xsi:type="File" fileName="${logDir}/warn.log" />
    <target name="errorLog" xsi:type="File" fileName="${logDir}/error.log" />
    <target name="fatalLog" xsi:type="File" fileName="${logDir}/fatal.log" />
    <!--<target name="gmail" xsi:type="Mail"
           smtpServer="smtp.gmail.com"
           smtpPort="587"
           smtpAuthentication="Basic"
           smtpUserName="user@gmail.com"
           smtpPassword="password"
           enableSsl="true"
           from="emailaddress@gmail.com"
           to="recipient@example.com"
           cc="alice@example.com;bob@example.com;charlie@example.com"
          />-->
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="infoLog" />
    <logger name="*" writeTo="traceLog" />
    <logger name="*" level="Warn" writeTo="warnLog" />
    <logger name="*" level="Error" writeTo="errorLog" />
    <logger name="*" level="Fatal" writeTo="fatalLog" />
    <!--<logger name="T034.*" minlevel="Debug" writeTo="" />-->
    <!--<logger name="*" minlevel="Fatal" writeTo="gmail" />-->
  </rules>
</nlog>
