	@{
    ViewBag.Title = "Сайты";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="list-group">
    <a href="http://abam-invest.ru" class="list-group-item" target="blank">
        <h4 class="list-group-item-heading">Микрофинансовая организация</h4>
        <p class="list-group-item-text">abam-invest.ru</p>
    </a>
    <a href="http://box9-vlg.ru" class="list-group-item" target="blank">
        <h4 class="list-group-item-heading">СДЮСШОР №9</h4>
        <p class="list-group-item-text">box9-vlg.ru</p>
    </a>
    <a href="http://avia-spektr.ru" class="list-group-item" target="blank">
        <h4 class="list-group-item-heading">Авиаработы</h4>
        <p class="list-group-item-text">avia-spektr.ru</p>
    </a>
    <a href="http://docfis.ru/" class="list-group-item" target="blank">
        <h4 class="list-group-item-heading">Детский оздоровительный центр физической культуры и спорта</h4>
        <p class="list-group-item-text">docfis.ru</p>
  </a>
      <a href="http://strazi-podarok.ru/" class="list-group-item" target="blank">
        <h4 class="list-group-item-heading">Инкрустация кристаллами Swarowski</h4>
        <p class="list-group-item-text">strazi-podarok.ru</p>
  </a>
        <a href="http://архиввгиик.рф/" class="list-group-item" target="blank">
        <h4 class="list-group-item-heading">Музей-архив Волгоградского государственного института искусств и культуры</h4>
        <p class="list-group-item-text">архиввгиик.рф</p>
  </a>
</div>
