@model IEnumerable<T034.ViewModel.ImageViewModel>
@{
    Layout = "~/Views/Shared/_SelectorLayout.cshtml";
}

@foreach (var image in Model)
{
    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
        <img src="@image.Url" alt="@image.Alt" id="#image" data-source="@image.Url" width="200" height="200"/>
    </a>
}
