

body { 
    background:#000000;
    font-size: .85em;
}


/*.banner
{
    background-image: none; 
	height: 0px;
}*/


.main_img
{
    /*width: 0px;
	height: 0px;*/
}

a.main-menu
{
    font-size: 20px;
}

.text
{
	font-size: 30px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.comment,.admcomment
{
	font-size: 24px;
}

.guest,.adm
{
	font-size: 20px;
}
